.blog-container{
background-color: wheat;
padding-bottom: 20px;
padding-top: 20px;
}

.blog-paragraph{
    width:900px;
    font-size: larger;
    margin-left: 200px;

}
.large-icon {
        font-size: 32px; /* Adjust size as needed */
        /* You can also set other properties, e.g., color */
        color: black; /* Change color */
      } 
    

.icon-button {
    background-color: transparent; /* No background */
    border: none; /* No border */
    cursor: pointer; /* Pointer on hover */
    display: flex; /* Align icon and text */
    align-items: center; /* Center vertically */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Add padding if needed */
    margin-left: 1100px;
    
  }
  
  .icon-button span {
    margin-left: 5px; /* Space between icon and text */
  }
  
  .icon-button:hover {
    color: blue; /* Change color on hover if needed */
  }
  @media (min-width: 320px) {


  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 375px) and (min-height: 650px) {
   
  
  
   
  }
  /***************************************************************************************************/
  @media screen and (min-width: 375px) and (min-height: 800px) {
  
  }
  /******************************************************************************************************/
  @media screen and (min-width: 375px) and (min-height: 950px) {
  
  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 390px) and (min-height: 750px) {
  
  
  
  }
  /********************************************************************************************************/
  @media screen and (min-width: 390px) and (min-height: 800px) {
  
  
  
  }
  
  /*********************************************************************************************************************/
  @media screen and (min-width: 412px) and (min-height: 700px) {
  
  }
  
  
  
  
  
  
  /***************************************************************************************************/
  @media screen and (min-width: 412px) and (min-height: 800px) {
  
  
  
  }
  /*******************************************************************************************************/
  @media screen and (min-width: 412px) and (min-height: 900px) {
  
  }
  
  
  /***************************************************************************************************/
  @media screen and (min-width: 428px) and (min-height: 800px) {
  
  
  }
  
  
  /***************************************************************************************************/
  @media screen and (min-width: 428px) and (min-height: 900px) {
  
  
  }
  /*******************************************************************************************************************/
  @media screen and (min-width: 480px) and (min-height: 800px) {
  
  
  }
  
  /***********************************************************************************************************************/
  @media screen and (min-width: 480px) and (min-height: 900px) {
  
  
  }
  /*****************************************************************************************************/
  @media screen and (min-width: 480px) and (min-height: 1000px) {
  
  }
  
  
  
  /***************************************************************************************************/
  @media screen and (min-width: 600px) and (min-height: 800px) {
  
  
  }
  /************************************************************************************************************************/
  @media screen and (min-width: 600px) and (min-height: 900px) {
  
  
  }
  /**************************************************************************************************************/
  @media screen and (min-width: 600px) and (min-height: 1000px) {
  
  }
  /*************************************************************************************************************/
  @media screen and (min-width: 600px) and (min-height: 1200px) {
  
  }
  
  
  
  /***************************************************************************************************/
  @media screen and (min-width: 768px) and (min-height: 300px) {
  
  
  
  
  } 
  
  /***************************************************************************************************/
  @media screen and (min-width: 768px) and (min-height: 400px) {
  
  
  
  
  
  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 768px) and (min-height: 541px) {
  
  
  
  }
  
  /****************************************************************************************************/
  @media screen and (min-width: 800px) and (min-height: 350px) {
  
  
  }
  /************************************************************************************************************/
  @media screen and (min-width: 800px) and (min-height: 450px) {
  
  
  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 1024px) and (min-height: 300px) {
  
  
  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 1024px) and (min-height: 400px) {
  
  
  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 1024px) and (min-height: 530px) {
  
  
  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 1080px) and (min-height: 800px) {
  
  
  }
  /***************************************************************************************************/
  @media screen and (min-width: 1280px) and (min-height: 550px) {
  
  
  }
  /***************************************************************************************************/
  @media screen and (min-width: 1280px) and (min-height: 800px) {
  
  
  }
  /***************************************************************************************************/
  @media screen and (min-width: 1366px) and (min-height: 768px) {
  
  
  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 1366px) and (min-height: 850px) {
  
  
  }
   /***************************************************************************************************/ 
  @media screen and (min-width: 1366px) and (min-height: 1000px) {
  
  
  }
    /***************************************************************************************************/
  @media screen and (min-width: 1366px) and (min-height: 1024px) {
  
  
  }
  /***************************************************************************************************************/
  @media screen and (min-width: 1440px) and (min-height: 900px) {
  
  }
  
  
  /********************************************************************************************************/
  @media screen and (min-width: 1440px) and (min-height: 1050px) {
  
  }
  /****************************************************************************************************/
  @media screen and (min-width: 1440px) and (min-height: 2500px) {
  
  }
  
  
  
    /***************************************************************************************************/
    @media screen and (min-width: 1440px) and (min-height: 2900px) {
  
  
  }
  /***************************************************************************************************/  
  @media screen and (min-width: 1536px) and (min-height: 800px) {
  
  
  }  
  /***************************************************************************************************/
  @media screen and (min-width: 1536px) and (min-height: 1200px) {
  
  }
  /***************************************************************************************************/
  @media screen and (min-width: 1920px) and (min-height: 800px) {
  
  }
  /***************************************************************************************************/
  @media screen and (min-width: 1920px) and (min-height: 1000px) {
  
  
  }
  /***************************************************************************************************/
  @media screen and (min-width: 1920px) and (min-height: 1200px) {
  
  
  }
  /********************************************************************************************************/
  @media screen and (min-width: 1920px) and (min-height: 1450px) {
  
  
  
  }
  /*********************************************************************************************************/
  @media screen and (min-width: 2500px) and (min-height: 1440px) {
  
  }
  
  
  
  /****************************************************************************************************/
  @media screen and (min-width: 2500px) and (min-height: 1600px) {
  
  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 2500px) and (min-height: 2000px) {
  
  }
  
  /***********************************************************************************************************/
  @media screen and (min-width: 2500px) and (min-height: 3000px) {
  
  }
  /***************************************************************************************************/
  @media screen and (min-width: 2880px) and (min-height: 1234px) {
  
  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 2880px) and (min-height: 1620px) {
  
  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 2880px) and (min-height: 1800px) {
  
  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 3840px) and (min-height: 1600px) {
  
  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 3840px) and (min-height: 2100px) {
  
  }
  
  /***************************************************************************************************/
  @media screen and (min-width: 3840px) and (min-height: 2400px) {
  
  
  }
  /***************************************************************************************************/ 
  
  
  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  
  
  
   
  
   
   
  
  
  
  
      
  
  
  
  
  
  
  
   
   
  
  
   
  
   
  
  
   
  
  