.faq-container {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq-question h3 {
    margin: 0;
}

.faq-answer {
    padding: 10px 0;
    margin-top: 5px;
}
.linkcontainerfaq{
    background-color: aqua;
    width: 20vw;
    margin-left: 50vw;
    margin-top: -100vh;
    position: absolute;
}
.linkcontainershop{
    background-color: aqua;
    width: 20vw;
    margin-left: 50vw;
    margin-top: -70vh;
    position: absolute;
}
.linkcontainercart{
    background-color: aqua;
    width: 20vw;
    margin-left: 50vw;
    margin-top: -20vh;
    position: absolute;
}
.linkcontainerfooter{
    background-color: aqua;
    width: 20vw;
    margin-left: 50vw;
    margin-top: -20vh;
    position: absolute;
}
.linkcontainerabout{
    background-color: aqua;
    width: 20vw;
    margin-left: 50vw;
    margin-top: -20vh;
    position: absolute;
}
.linkcontainerbackend{
    background-color: aqua;
    width: 20vw;
    margin-left: 50vw;
    margin-top: -70vh;
    position: absolute;
}
.linkcontainercontactmessages{
    background-color: aqua;
    width: 20vw;
    margin-left: 50vw;
    margin-top: -20vh;
    position: absolute;
}

.linkcontainersidedrawer{
    background-color: aqua;
    width: 20vw;
    margin-left: 50vw;
    margin-top: -20vh;
    position: absolute;
}
.linkcontainersidedrawer{
    background-color: aqua;
    width: 20vw;
    margin-left: 50vw;
    margin-top: -20vh;
    position: absolute;
}
.linkcontainerterms{
    background-color: aqua;
    width: 20vw;
    margin-left: 50vw;
    margin-top: -20vh;
    position: absolute;
}
.linkcontainerstripe{
    background-color: aqua;
    width: 20vw;
    margin-left: 50vw;
    margin-top: -40vh;
    position: absolute;
}