
  
  .slider-container {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* Image Slider Styles */
  .slider {
    position: relative;
    width: 100%;
    height: 500px; /* Set a fixed height for the image slider */
    overflow: hidden;
  }
  
  .slide {
    width: 30%;
    height: 30%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    margin-left: 30vw;
    margin-top: 40vh;
  }
  
  .no-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    color: #888;
    font-size: 18px;
    font-weight: 600;
    background-color: #f6f6f6;
  }
  
  /* Navigation Controls */

  
  .prev {
    left: 25vw;
    right: 20px;
    color: black;
    width: 3vw;
    margin-top: -105vh;
    position: absolute;
    height: 10vh;
    padding-bottom: 8vh;
    background-color: transparent;
  }
  
  .next {
    left: 55vw;
    right: 20px;
    color: black;
    width: 3vw;
    margin-top: -105vh;
    position: absolute;
background-color: transparent;
  }
  
  /* Hover effects for navigation buttons */
  .nav:hover {
    background-color: rgba(0, 0, 0, 0.7);
    
  }
  
  /* Image upload form styles */
  .upload-form {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    width: 20vw;
    height: 10vh;
   
  }
  
  .upload-form input[type="file"] {
    color: transparent; /* Hides the default file input text */
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5vw;
    margin-top: -50vh;
    height: 5vh;
  }
  
  .upload-form input[type="file"]:hover {
    background-color: rgba(0, 0, 0, 0.3);

  }
  
 